:root {
    --verde-institucional: #103E28;
    --dourado: #A06A1A;
    --laranja-vibrante: #C87620;
    --bege-claro: #f7f5ee;
    --cinza-neutro: #A59FA4;
    --branco: #FFFFFF;
    --preto: #000000;
}